<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title  | escape }} - {{ site.framework_name  | escape }}{% else %}{{ site.framework_name  | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/css/site.css" | prepend: site.framework_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.framework_url }}" />
  <link rel='stylesheet' href="{{ "/assets/css/mobile.css" | prepend: site.framework_url }}" media="screen and (max-width: 800px)" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.framework_url | prepend: site.framework_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.framework_url }}" href="{{ "/feed.xml" | prepend: site.framework_url | prepend: site.url }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  

</head>
