---
layout: default
---

{% if site.data.framework.framework_banner_image != "" %}

<center>
<img src="{{site.baseurl}}/assets/{{site.data.framework.framework_banner_image}}" />
</center>

{% endif %}

<center>
<h2>The {{site.data.framework.framework_name}} framework</h2>
</center>

<br>

{{site.data.framework.framework_description}}

<br><br>

{% if site.data.framework.framework_welcome != "" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
   $(document).ready(function(){
      $('#welcome').load("{{ site.baseurl }}/pages/{{site.data.framework.framework_welcome}}");
   });
</script>

<div id="welcome"></div>
{% endif %}

<br><br>

<h2>First steps</h2>

If your are a new user, you can start reading <a href="{{ site.baseurl }}/pages/introduction.html">introduction section</a> and <a href="{{ site.baseurl }}/pages/install.html">installation instructions</a>.

<br>
<br>

If your are more familiar with the workspace you can start navigating to packages pages by using the side bar.

<br>
<br>

To lean more about this site and how it is managed you can refer to <a href="{{ site.baseurl }}/pages/help.html">this help page</a>.

<br><br>

<h2>Authors</h2>

Following authors have contributed to the development of {{site.data.framework.framework_name}}:

<br>

{{site.data.framework.framework_authors}}

<br><br><br><br>
